.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main h1 {
	text-align: center;
	font-size: 4.5rem;
	margin-bottom: 5rem;
}

.main p {
	margin-top: 3rem;
	text-align: center;
	font-size: 1.4rem;
	color: rgb(122, 122, 122);
	width: 26rem;
}

.changingText {
	position: relative;
}

.changingText::after {
	position: absolute;
	z-index: -1;
	content: "";
	background-color: yellow;
	bottom: -4px;
	left: 0;
	width: 100%;
	height: 0.7rem;
	transform: rotate(178deg) skew(25deg);
	border-radius: 20px;
}

@media (min-width: 550px) {
	.main {
		width: 55rem;
	}

	.main h1 {
		font-size: 6rem;
		margin-bottom: 6rem;
		width: 100%;
	}

	.main p {
		margin-top: 4rem;
		width: 25rem;
	}
}

@media (min-width: 900px) {
	.main {
		width: 100rem;
	}

	.main h1 {
		text-align: center;
		font-size: 7rem;
		margin-bottom: 6rem;
		width: 100%;
	}

	.main p {
		margin-top: 4rem;
		width: 25rem;
	}
}
