.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main h1 {
	text-align: center;
	font-size: 4.5rem;
	margin-bottom: 5rem;
}

.main p {
	margin-top: 3rem;
	text-align: center;
	font-size: 1.4rem;
	color: rgb(122, 122, 122);
	width: 26rem;
}

@media (min-width: 550px) {
	.main {
		width: 55rem;
	}

	.main h1 {
		font-size: 6rem;
		margin-bottom: 6rem;
		width: 100%;
	}

	.main p {
		margin-top: 4rem;
		width: 25rem;
	}
}

@media (min-width: 900px) {
	.main {
		width: 80rem;
	}

	.main h1 {
		text-align: center;
		font-size: 7rem;
		margin-bottom: 6rem;
		width: 100%;
	}

	.main p {
		margin-top: 4rem;
		width: 25rem;
	}
}
