.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	width: 100%;
}

.linkBox {
	height: 9rem;

	background-color: var(--main-input-background-color);
	padding: 0 2rem;
	border-radius: var(--border-radius);
	box-shadow: (10px 10px 10px 5px rgba(red, green, blue, 0.2));
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 2rem;
	width: 100%;
	overflow-wrap: break-word;
}

.link {
	width: 22rem;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2.3rem;
	white-space: wrap;
}

.btnCopied {
	background-color: rgb(8, 127, 91);
}

.btnCopy {
	font-size: 1.2rem;
	padding: 0.6rem;
	width: 6rem;
	height: 3rem;
}

@media (min-width: 450px) {
	.container {
		max-width: 45rem;
	}

	.link {
		width: 25rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.3rem;
		white-space: wrap;
	}
}

@media (min-width: 700px) {
	.container {
		max-width: 70rem;
	}

	.link {
		width: 60rem;
		font-weight: 500;
		font-size: 1.6rem;
		white-space: wrap;
	}

	.btnCopy {
		font-size: 1.6rem;
		padding: 1rem;
		width: 10rem;
		height: 3rem;
	}
}
