.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
	width: 100%;
}

.question {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.secure {
	position: relative;
}

.secure::after {
	position: absolute;
	content: "Secure";
	/* width: 12px; */
	/* height: 10px; */
	text-align: center;
	font-size: 1rem;

	margin-left: 0.3rem;

	border: 1px solid rgba(0, 0, 255, 0.135);
	background-color: rgba(0, 123, 255, 0.1);
	border-radius: 8px;
	padding: 0.2rem;
	font-weight: 600;
	color: rgb(81, 81, 81);
}

.votes {
	font-size: 1.4rem;
	color: rgb(139, 139, 139);
}
.endDate {
	font-size: 1.4rem;
	color: rgb(139, 139, 139);
	margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
	.container {
		width: 50rem;
	}

	.question {
		font-size: 3.5rem;
	}
}

@media (prefers-color-scheme: dark) {
	.votes {
		color: rgb(224, 224, 224);
	}
	.endDate {
		color: rgb(224, 224, 224);
	}
	.secure::after {
		color: rgb(197, 197, 197);
		border: 1px solid rgba(0, 0, 255, 0.308);
		background-color: rgba(0, 123, 255, 0.247);
	}
}
