.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
	width: 35rem;
}

.question {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.votes {
	font-size: 1.4rem;
	color: rgb(224, 224, 224);
}
.endDate {
	font-size: 1.4rem;
	color: rgb(224, 224, 224);
	margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
	.container {
		width: 50rem;
	}

	.question {
		font-size: 3.5rem;
	}
}
