.header {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 2rem 2rem;
	background-color: var(--main-light-background-color);
	z-index: 1;
}

.logo {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	cursor: pointer;
	width: fit-content;
}

.header img {
	width: 3rem;
	height: 3rem;
}

.header p {
	font-weight: 600;
	font-size: 2.6rem;
}

@media (prefers-color-scheme: dark) {
	.header {
		background-color: var(--main-background-color);
	}
}
