.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.textLabel {
	color: var(--main-font-color);
	font-weight: 600;
	font-size: var(--font-size-medium);
}

.textInput {
	background-color: var(--main-input-background-color);
	border-radius: var(--border-radius);
	border: 1px solid rgb(90, 90, 90);
	color: white;
	font-size: 1.6rem;
	padding: 1.3rem 2rem;
}

/* .numberInput {
	background-color: var(--main-input-background-color);
	border-radius: var(--border-radius);
	border: 1px solid rgb(90, 90, 90);
	color: white;
	font-size: 1.6rem;
	padding: 1.3rem 2rem;
} */

/* .form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
	color: blue;
} */

/* .checklistLabel {
	color: var(--main-font-color);
	font-size: var(--font-size-medium);
	display: flex;
	align-items: center;
	gap: 1rem;
} */
