/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	height: 100%;
	overflow: scroll;
	user-select: none;
	/* max-height: 100%; */
}

body {
	--main-background-color: rgb(29, 29, 32);
	--main-input-background-color: rgb(33, 33, 33);
	--accent-color: rgb(0, 145, 255);
	--main-font-color: #f3f4fb;
	--main-font-family: "Raleway", sans-serif;
	--border-radius: 5px;
	--font-size-small: 1.2rem;
	--font-size-medium: 1.7rem;
	--font-size-large: 3.5rem;
}

body {
	position: relative;
	min-height: 100vh;

	background-color: var(--main-background-color);
	color: var(--main-font-color);
	font-family: var(--main-font-family);
}

.page-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 70.5px);
}

p {
	font-size: 1.6rem;
}

h1 {
	font-size: 3rem;
}

a {
	color: inherit;
	text-decoration: none;
}

.homepage {
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.homepage,
.poll-page,
.new-poll-page {
	padding: 2rem;
}

.poll-page {
	max-width: 100%;
	margin: 0 auto;
}

@media (min-width: 600px) {
	.homepage,
	.poll-page,
	.new-poll-page {
		padding: 10rem 2rem;
	}
}

.btn {
	all: unset;
	background-color: var(--accent-color);
	border-radius: var(--border-radius);
	font-size: var(--font-size-medium);
	padding: 1rem 2rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.btn:active {
	translate: 0 2px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
